/* main style sheet */

body{

background-color:#190019; /*#000033*/
color:#eee;
font-size:18px;


}


#outer{

width:600px;
margin:auto;


}

/*
.formClass{

width:700px;
margin:auto;


}



#pForm, #fForm{


width:700px;
margin:auto;


}
*/